body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.top{
    height: 2.4rem;
    background-color: #0742819d;
}


.page {
    display: flex;
    height: 85vh;
}

/* 
.left-section, .right-section {
    flex-grow: 1;
    min-width: 200px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto;
}

#left-section {
    resize: horizontal;
    overflow: hidden;
    cursor: col-resize;
} */

.section {
    flex-grow: 1;
    min-width: 200px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto;
}

.resizable-bar {
    width: 10px;
    cursor: col-resize;
    background-color: #ccc;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.popup {
    display: none;
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #aea4a4;
    border: 1px solid #ccc;
    z-index: 1000;
}

.popup-header {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: move;
}

.popup-content {
    padding: 20px;
    overflow: auto;
}

button#save-button {
    margin: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
